*{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(249, 250, 252);
}

.nav{
    height: 35px;
    background-color: rgb(41, 119, 184);
    display: flex;
    justify-content: space-between;
}

.main_head h2{
    padding-top: 5px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.backto{
    padding-right: 60px;
    padding-top: 5px;
}

.backto button{
    width: 150px;
    height: 25px;
    border: none;
    outline: none;
    color:rgb(41, 119, 184) ;
    font-weight: 500;
    border-radius: 3px;
}


.form{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

label{
    width: 80px;
    font-size: large;
    font-weight: 450;
}

input{
    width: 350px;
    height: 35px;
    outline: none;
    background-color: white; 
    border: 1px solid rgb(182, 182, 182);  
    padding-left: 15px;
    border-radius: 3px;
}

.username,.email,.pwd,.phone,.department,.designation{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.submit{
    padding-top: 70px;
    text-align: center;
}

.submit button{
    width: 300px;
    height: 40px;
    background-color: rgb(41, 119, 184);
    color: white;
    border-radius: 2px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 15px;
}