*{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(249, 250, 252);
}

.nav{
    height: 45px;
    background-color: rgb(41, 119, 184);
    display: flex;
    justify-content: space-between;
}

.main_head h2{
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.logout{
    padding-right: 60px;
    padding-top: 9px;
}

.logout button{
    width: 90px;
    height: 25px;
    border: none;
    outline: none;
    color:rgb(41, 119, 184) ;
    font-weight: 500;
    border-radius: 3px;
}

.welcome{
    padding-top: 50px;
    text-align: center;
    font-size:xx-large;
    font-weight: 600;
}

.main_cards{
    padding-top: 70px;
    display: flex;
    justify-content:center;
    gap: 30px;
}

.card{
    width: 250px;
    height: 280px;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
}

.logo{
    text-align: center;
    padding-top: 50px;
}

.sub_head{
    padding-top: 20px;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.goto{
    padding-top: 25px;
    text-align: center;
}

.goto button{
    width: 100px;
    height: 25px;
    background-color: rgb(41, 119, 184);
    text-decoration: none;
    outline:none;
    border: none;
    color: white;
    border-radius: 2px;
}
