*{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(249, 250, 252);
}

.nav{
    height: 35px;
    background-color: rgb(41, 119, 184);
    display: flex;
    justify-content: space-between;
}

.main_head h2{
    padding-top: 5px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.backto{
    padding-right: 60px;
    padding-top: 5px;
}

.backto button{
    width: 150px;
    height: 25px;
    border: none;
    outline: none;
    color:rgb(41, 119, 184) ;
    font-weight: 500;
    border-radius: 3px;
}

table{
    padding: 30px;
    width: 96%;
}

th{
    border: 1px solid rgb(223, 223, 223);
    background-color:rgb(228, 228, 228) ;
    padding-bottom: 20px;
    text-align: center;
}

td{
    border: 1px solid rgb(227, 227, 227);
    background-color: white;
    padding-top: 20px;
    text-align: center;
}

.edit button{
    background-color:rgb(41, 119, 184) ;
    border: none;
    outline: none;
}

.delete button{
    background-color: red;
    border: none;
    outline: none;
}


