*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content: center;
    background-color: rgb(41, 119, 184);
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
}

.main_head {
    color:white;
    text-align: center;
    padding-left: 10px;
    padding-bottom: 30px;
    font-size:large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
}

.form{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.login_head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

.email{
    padding-top: 40px;
    text-align: center;
}

.email input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.pwd{
    padding-top: 30px;
    text-align: center;
}

.pwd input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.submit{
    padding-top: 30px;
    text-align: center;
}

.submit input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
    background-color: rgb(41, 119, 184);
}





