<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/add_employee.css' %}">
</head>
<body>

    <div class="main_head">
        <h2>Add Employee</h2>
    </div>

    <div class="form">

        <form method="POST">
            {% csrf_token %}

            <div class="username">
                <label>Username:</label>
                <input type="text" name="username">
            </div>

            <div class="email">
                <label>Email:</label>
                <input type="email" name="email">
            </div>

            <div class="pwd">
                <label>Password:</label>
                <input type="password" name="password">
            </div>

            <div class="phone">
                <label>Phone:</label>
                <input type="text" name="phone">
            </div>

            <div class="department">
                <label>Department:</label>
                <input type="text" name="department">
            </div>

            <div class="designation">
                <label>Designation:</label>
                <input type="text" name="designation">
            </div>
            
            <button type="submit">Create Employee</button>
            
        </form>

    </div>

    <br>
    <a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>

</body>
</html>