<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Admin Dashboard</h2>

    <p>Welcome, {{ request.user.username }}</p>

    <!-- <ul>
        <li><a href="{% url 'add_employee' %}">Add Employee</a></li>
        <li><a href="{% url 'employee_list' %}">View Employees</a></li>
        <li><a href="{% url 'assign_work' %}">Assign Work</a></li>
        <li><a href="{% url 'work_list' %}">View All Works</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul> -->
</body>
</html>