<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
</head>
<body>

    <div class="nav">
        <div class="main_head">
            <h2>Admin Dashboard</h2>
        </div>

        <div class="logout">
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </div>
    </div>

    <div class="welcome">
        <p>Welcome, {{ request.user.username }}!</p>
    </div>

    <div class="main_cards">
        <div class="card">

            <div class="logo">
                <img src="{% static 'images/addemployee.png' %}" alt="" width="70px">
            </div>

            <div class="sub_head">
                <p>Add Employee</p>
            </div>

            <div class="goto">
                <a href="{% url 'add_employee' %}"><button>Go to</button></a>
            </div>
        </div>

        <div class="card">

            <div class="logo">
                <img src="{% static 'images/employeelist.png' %}" alt="" width="70px">
            </div>

            <div class="sub_head">
                <p>Employee List</p>
            </div>

            <div class="goto">
                <a href=""><button>Go to</button></a>
            </div>
        </div>

        <div class="card">

            <div class="logo">
                <img src="{% static 'images/creatework.png' %}" alt="" width="70px">
            </div>

            <div class="sub_head">
                <p>Create work</p>
            </div>

            <div class="goto">
                <a href=""><button>Go to</button></a>
            </div>
        </div>

        <div class="card">

            <div class="logo">
                <img src="{% static 'images/assignwork.png' %}" alt="" width="70px">
            </div>

            <div class="sub_head">
                <p>Assign Work</p>
            </div>

            <div class="goto">
                <a href=""><button>Go to</button></a>
            </div>
        </div>

        <div class="card">

            <div class="logo">
                <img src="{% static 'images/viewwork.png' %}" alt="" width="70px">
            </div>

            <div class="sub_head">
                <p>View Works</p>
            </div>

            <div class="goto">
                <a href=""><button>Go to</button></a>
            </div>
        </div>
    </div>

</body>
</html>