<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All Assigned Works</h2>

    <table border="1">
        <tr>
            <th>Title</th>
            <th>Employee</th>
            <th>Assigned Date</th>
            <th>Deadline</th>
            <th>Status</th>
        </tr>

        {% for work in works %}
        <tr>
            <td>{{ work.title }}</td>
            <td>{{ work.employee.user.username }}</td>
            <td>{{ work.assigned_date }}</td>
            <td>{{ work.deadline }}</td>
            <td>{{ work.status }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>
    <a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>
</body>
</html>